body {
	background: #111;
}

/* HOME  */

.homeBtn {
	text-align: center;
}
.homeBtn button {
	font-size: 20px;
	margin: auto;
	background-color: #111;
	border: 1px solid rgb(255 251 228);
	margin: 30px;
}
.homeBtn button a {
	text-decoration: none;
	padding: 10px;
	background-color: #111;
	color: rgb(255 251 228);
	border: none;
}
.homeBtn button a:hover {
	border: 1px solid rgb(255 251 228);
}
/* NAV */
#mainNav {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid black;
	border-radius: 10px;
}

#mainNav h1 {
	margin: 40px;
	font-size: 60px;
	text-transform: none;
	background: -webkit-linear-gradient(#e554ff, #004bf5);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
#mainNav h1 a {
	text-decoration: none;
	color: rgb(177 177 177);
	font-weight: 100;
	font-family: sans-serif;
}
#mainNav button {
	height: 40px;
	margin: 40px;
	border: none;
	color: white;
	background-color: #111;
}
#mainNav button a {
	font-size: 25px;
	text-decoration: none;
	color: white;
	transition: 0.1s ease-in;
}
#mainNav button :hover {
	border-bottom: 4px solid white;
	border-bottom-style: inset;
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
	opacity: 0.7;
}

/* Home  */

.homeFirstHeader {
	font-size: 50px;
	background: -webkit-linear-gradient(#c4ff9f, #001cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: "Architects Daughter", cursive;
	text-align: center;
	padding-top: 30px;
	font-weight: 100;
	animation: the-welcome 1.5s ease-in-out;
}
.homeHeader {
	font-size: 100px;
	background: -webkit-linear-gradient(#c4ff9f, #001cff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: "Architects Daughter", cursive;
	text-align: center;
	padding-top: 40px;
	animation: the-first 1.5s ease-in-out;
	font-weight: 200;
	line-height: 1;
}

@keyframes the-welcome {
	0% {
		opacity: 0;
	}
	33% {
		opacity: 0.3;
	}
	66% {
		opacity: 0.6;
	}
}

@keyframes the-first {
	0% {
		margin-left: -60px;
		opacity: 0;
	}
	33% {
		opacity: 0.3;
	}
	66% {
		opacity: 0.6;
	}
}

/* // TRANSACTIONS */

.totalAmount {
	font-size: 40px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	text-align: center;
	padding-top: 50px;
	font-weight: 100;
	border: 1px solid black;
	border-radius: 10px;
	width: 40%;
	margin: auto;
	padding: 20px;
	margin-top: 1em;
	box-shadow: 1px 2px 3px rgb(14, 14, 14);
	background-color: rgb(177 177 177);
}

.allTransactions {
	width: 60%;
	margin: auto;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
	font-size: 20px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	border-bottom: 1px solid rgb(255 251 228);
}
.allTransactions div {
	color: #c1c1c1;
	margin: 18px;
}
.allTransactions div a {
	color: purple;
	text-decoration: none;
}
.allTransactions div a:hover {
	color: red;
	text-decoration: underline;
}

/* THE NEW FORM  */

.newForm {
	text-align: center;
	font-family: monospace;
	animation: theform 0.3s ease-in;
}
@keyframes theform {
	0% {
		margin-left: -30px;
		opacity: 0;
	}
	33% {
		opacity: 0.3;
	}
	66% {
		opacity: 0.6;
	}
}
.newForm div input {
	font-size: 20px;
	border: none;
	margin: 20px;
	width: 60%;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid black;
	transition: 0.1s ease-in;
	opacity: 0.8;
	padding: 5px;
	border-radius: 3px;
}
.newForm div input:hover {
	opacity: 0.3;
}
.newButton {
	font-size: 20px;
	margin: 30px;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
}
.newButton a {
	color: black;
	text-decoration: none;
}
.newButton:hover {
	opacity: 0.6;
}

/* DETAILS  */

.showDetails {
	line-height: 2.3;
	font-size: 35px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	text-align: center;
	border: 2px solid black;
	border-radius: 10px;
	width: 40%;
	margin: auto;
	background-color: rgb(177 177 177);
	padding: 30px;
	box-shadow: 1px 2px 1px rgb(14, 14, 14);
}
.showDetails div {
	border-bottom: 2px solid rgb(13, 0, 71);
}
.showDetails button {
	margin: 20px;
	font-size: 15px;
	cursor: pointer;
	border-radius: 10px;
	padding: 10px;
	margin: 30px;
	transition: 0.1s ease-in;
	background-color: transparent;
	border: 1px solid rgb(0, 0, 53);
}
.showDetails button:hover {
	opacity: 0.6;
}
.showDetails button a {
	color: black;
	text-decoration: none;
}

/* Media querry  */

@media only screen and (max-width: 600px) {
	#mainNav h1 {
		font-family: "Architects Daughter", cursive;
		font-size: 50px;
	}
	#mainNav button a {
		font-size: 20px;
	}
	.totalAmount {
		font-size: 30px;
	}
	.allTransactions {
		width: 80%;
		font-size: 14px;
	}
	.showDetails {
		width: 80%;
		font-size: 25px;
	}
	.newButton {
		font-size: 10px;
	}
}
